---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>IndigenousTech.club</title>
  </head>
  <style>
    @font-face {
      font-family: "SuperDream";
      src: url("/fonts/SuperDream.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
  </style>
  <body class="w-full">
    <div
      class="bg-black text-white py-1 px-3 md:px-5 xl:px-8 xl:py-4 drop-shadow-md rounded-b-3xl w-full"
    >
      <h1 class="font-sans text-3xl">IndigenousTech.club</h1>
      <h2>
        by <a class="underline" href="https://land.org.au" target="_blank"
          >land.org.au</a
        >
      </h2>
    </div>
    <div
      class="grid grid-cols-1 xl:grid-cols-2 p-3 md:p-3 lg:p-5 xl:p-8 w-full"
    >
      <div
        class="flex flex-col text-3xl md:text-4xl xl:text-5xl gap-6 md:gap-8 xl:gap-12"
      >
        <p>Indigenous people are GREATLY underrepresented in tech.</p>
        <p>Tech spaces can be uninclusive or culturally insensitive.</p>
        <p>There are so many things that may never be created.</p>
        <p>Because the people who would create them.</p>
        <p>Will never get the chance to.</p>
        <p>Let's help change this.</p>
      </div>
      <div class="w-full flex flex-col mt-4 xl:mt-0">
        <p class="text-3xl text-center px-8 md:px-32 xl:px-40 pb-4">
          A community for Indigenous mob who want to build cool stuff.
        </p>
        <iframe
          class="drop-shadow-md"
          src="https://docs.google.com/forms/d/e/1FAIpQLSeCJDGkf0aK43Dg7Q8L982mgg-bA_t39J0SNBOe_C6RLr3BUA/viewform?embedded=true"
          width="100%"
          height="650"
          frameborder="0"
          marginheight="0"
          marginwidth="0">Loading…</iframe
        >
      </div>
    </div>
  </body>
</html>
