---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>IndigenousTech.Club</title>
  </head>
  <style>
    @font-face {
      font-family: "SuperDream";
      src: url("/fonts/SuperDream.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
  </style>
  <body>
    <h1 class="font-sans">IndigenousTech.Club</h1>
  </body>
</html>
